<section class="about" id="about">
  <div class="container-about">
    <div class="about-div">
      <h2 class="about-title">About Us</h2>
      <p class="about-text about-text-one">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-text about-text-two">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device - it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a class="about-button" href="#catalog">View catalog</a>
    </div>
    <picture class="about-picture">
      <source srcset="./img/mob_img/watch_about_us_mob.jpg 1x, ./img/mob_img/watch_about_us_mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="./img/tblet_img/watch_about_us_tblet.jpg 1x, ./img/tblet_img/watch_about_us_tblet@2x.jpg 2x" media="(max-width: 1279px)">
      <source srcset="./img/decst_img/watch_about_us_desc.jpg 1x, ./img/decst_img/watch_about_us_desc@2x.jpg 2x" media="(min-width: 1280px)">
      <img class="about-img" src="./img/mob_img/watch_hero_mob.jpg" alt="watch" width="1150">
    </picture>
  </div>
</section>
