<section class="contact-us-section">
<div class="contact-us-container">
    <h2 class="title-contact">Contact Us</h2>
    <div class="modal-contact">
        <p class="modal-text-contact">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
        <form action="">
            <div class="modal-field-contact"><label for="user-name" class="label-name">Name</label>
                
                <input type="text" name="user-name" class="modal-input" placeholder="user-name" id="user-name">
            </div>
            <div class="modal-field-contact"><label for="user-email" class="label-name">Email</label>
                
                <input type="email" name="user-email" class="modal-input" placeholder="user-email" id="user-email">
            </div>
            <div class="modal-field-contact"><label for="user-phone" class="label-name">Phone</label>
                
                <input type="tel" name="user-phone" class="modal-input" placeholder="user-phone" id="user-phone">
            </div>
            <div class="modal-field-texarea-contact"><label for="user-comment" class="label-name">Comment</label>
                <textarea name="user-comment" id="user-comment" class="modal-texarea" placeholder="Text input"></textarea>
            </div>
            <button type="submit" class="button-modal">Send</button>
        </form>
    </div>
    <div class="contact-img">
    <picture>
        <source media="(min-width: px)" srcset="">
        <source media="(min-width: px)" srcset="">
        <source media="(max-width:px)" srcset="">
        <img
      src=""
      alt=""
      class=""
      width=""
    />
      </picture>
    </div>
</div>
</section>