<header class="header-up">
    <section class="header-all">
        <a class="header-logo" href="/">watchcharm </a>
        <nav>
          <ul class="header-menu">
            <li><a href="#" class="active">Home</a></li>
            <li><a class="header-menu-item" href="#">About Us</a></li>
            <li><a class="header-menu-item" href="#">Catalog</a></li>
            <li><a class="header-menu-item" href="#">Sale</a></li>
            <li><a class="header-menu-item" href="#">Reviews</a></li>
            <li><a class="header-menu-item" href="#">Contact Us</a></li>
          </ul>
        </nav>
</header>