<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to our <span class="hero-title-span">collection</span> of premium watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic
      designs to
      modern ones, we have a watch to suit every taste and occasion.
    </p>
    <ul class="hero-list">
      <li class="hero-box-list">
        <img class="box" src="./images/Ellipse 21.jpg" alt="" width="44px" height="44px">
        <img class="box" src="./images/Ellipse 22.jpg" alt="" width="44px" height="44px">
        <img class="box" src="./images/Ellipse 23.jpg" alt="" width="44px" height="44px">
      </li>
      <li class="hero-box-list">
        <a class="hero-link" href="">Scroll down</a>
      </li>
    </ul>
    <picture class="hero-foto">
      <source srcset="" media="(max-width: 767px)">
      <source srcset="" media="(min-width: 768px)">
      <source srcset="" media="(min-width: 1158px)">
      <img src="./images/Rectangle 10.png" alt="" width="355" height="446">
    </picture>
  </div>
</section>