<section class="hero">
  <div id="home" class="container-heroabout">
  <div class="container-hero ">
    <div class="hero-flex">
      <div class="hero-div-fl">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <ul class="hero-list">
        <li class="hero-box-list">
          <img class="box" src="./img/decst_img/ellipse_21_des.jpg" alt="User" width="60">
          <img class="box" src="./img/decst_img/ellipse_22_des.jpg" alt="User" width="60">
          <img class="box" src="./img/decst_img/ellipse_23_des.jpg" alt="User" width="60">
        </li>
        <li class="hero-box-list-link">
          <a class="hero-link" href="#footer">Scroll down</a>
        </li>
      </ul>
    </div>
    <picture class="hero-img">
      <source srcset="./img/mob_img/watch_hero_mob.jpg 1x, ./img/mob_img/watch_hero_mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="./img/tblet_img/watch_hero_tblet.jpg 1x, ./img/tblet_img/watch_hero_tblet@2x.jpg 2x" media="(max-width: 1279px)">
      <source srcset="./img/decst_img/watch_hero_desc.jpg 1x, ./img/decst_img/watch_hero_desc@2x.jpg 2x" media="(min-width: 1280px)">
      <img src="./img/mob_img/watch_hero_mob.jpg" alt="watch" width="1150">
    </picture>
  </div>
</div>
</section>
