<section id="reviews" class="section-reviews">
  <div class="section-reviews-container">
    <h2 class="title-reviews">Reviews</h2>
    <div class="box-reviews">
      <ul class="reviews-list">
        <li class="reviews-item">
          <img
            srcset="
              /img/mob_img/rev_jonh_mob.png    1x,
              /img/mob_img/rev_jonh_mob@2x.png 2x
            "
            src="/img/mob_img/rev_jonh_mob.png"
            alt="John Wax"
            class="img-reviews"
          />
          <h3 class="name-reviews">John Wax</h3>
          <p class="text-reviews">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </li>
        <li class="reviews-item Victoria">
          <img
            srcset="
              /img/tblet_img/rev_vict_tblet.png    1x,
              /img/tblet_img/rev_vict_tblet@2x.png 2x
            "
            src="/img/tblet_img/rev_vict_tblet.png"
            alt="Victoria Romashenko"
            class="img-reviews"
          />
          <h3 class="name-reviews">Victoria Romashenko</h3>
          <p class="text-reviews">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </li>
        <li class="reviews-item Anastasia">
          <img
            srcset="
              /img/decst_img/rev_anas_desc.png    1x,
              /img/decst_img/rev_anas_desc@2x.png 2x
            "
            src="../img/decst_img/rev_anas_desc.png"
            alt="Anastasia Trachuk"
            class="img-reviews"
          />
          <h3 class="name-reviews">Anastasia Trachuk</h3>
          <p class="text-reviews">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
