<section class="section-sale" id="sale">
  <div class="container-sale">
    <h2 class="sale-logo">Sale</h2>
    <div class="sale-content">
      <ul class="sale-link">
        <li class="sale-list">
          <picture>
            <source
              srcset="
                /img/decst_img/sale_green_desc.png    1x,
                /img/decst_img/sale_green_desc@2x.png 2x
              "
              media="(min-widht:1280px)"
            />
            <source
              srcset="
                /img/tblet_img/sale_green_tblet.png    1x,
                /img/tblet_img/sale_green_tblet@2x.png 2x
              "
              media="(min-widht:768px)"
            />
            <source
              srcset="
                /img/mob_img/sale_green_mob.png    1x,
                /img/mob_img/sale_green_mob@2x.png 2x
              "
              media="(min-widht:320px)"
            />
            <img
              class="sale-images"
              src="/img/decst_img/sale_green_desc.png"
              alt="sale_green"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-list">
          <picture>
            <source
              srcset="
                /img/decst_img/sale_blue_desc.png    1x,
                /img/decst_img/sale_blue_desc@2x.png 2x
              "
              media="(min-widht:1280px)"
            />
            <source
              srcset="
                /img/tblet_img/sale_blue_tblet.png    1x,
                /img/tblet_img/sale_blue_tblet@2x.png 2x
              "
              media="(min-widht:768px)"
            />
            <source
              srcset="
                /img/mob_img/sale_blue_mob.png    1x,
                /img/mob_img/sale_blue_mob@2x.png 2x
              "
              media="(min-widht:320px)"
            />
            <img
              class="sale-images"
              src="/img/decst_img/sale_blue_desc.png"
              alt="sale_blue"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-list">
          <picture>
            <source
              srcset="
                /img/decst_img/sale_side_desc.png    1x,
                /img/decst_img/sale_side_desc@2x.png 2x
              "
              media="(min-widht:1280px)"
            />
            <source
              srcset="
                /img/tblet_img/sale_side_tblet.png    1x,
                /img/tblet_img/sale_side_tblet@2x.png 2x
              "
              media="(min-widht:768px)"
            />
            <source
              srcset="
                /img/mob_img/sale_side_mob.png    1x,
                /img/mob_img/sale_side_mob@2x.png 2x
              "
              media="(min-widht:320px)"
            />
            <img
              class="sale-images"
              src="/img/decst_img/sale_side_desc.png"
              alt="sale_side"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-list">
          <picture>
            <source
              srcset="
                /img/decst_img/sale_back_desc.png    1x,
                /img/decst_img/sale_back_desc@2x.png 2x
              "
              media="(min-widht:1280px)"
            />
            <source
              srcset="
                /img/tblet_img/sale_back_tblet.png    1x,
                /img/tblet_img/sale_back_tblet@2x.png 2x
              "
              media="(min-widht:768px)"
            />
            <source
              srcset="
                /img/mob_img/sale_back_mob.png    1x,
                /img/mob_img/sale_back_mob@2x.png 2x
              "
              media="(min-widht:320px)"
            />
            <img
              class="sale-images"
              src="/img/decst_img/sale_back_desc.png"
              alt="sale_back"
              width="96"
              height="100"
            />
          </picture>
        </li>
      </ul>
      <div class="sale-list-big">
        <picture>
          <source
            srcset="
              /img/decst_img/sale_main_desc.png1x,
              /img/decst_img/sale_main_desc@2x.png 2x
            "
            media="(min-widht:1280px)"
          />
          <source
            srcset="
              /img/tblet_img/sale_main_tblet.png    1x,
              /img/tblet_img/sale_main_tblet@2x.png 2x
            "
            media="(min-widht:768px)"
          />
          <source
            srcset="
              /img/mob_img/sale_main_mob.png    1x,
              /img/mob_img/sale_main_mob@2x.png 2x
            "
            media="(min-widht:320px)"
          />
          <img
            class="sale-images-big"
            src="/img/decst_img/sale_main_desc.png"
            alt="sale_main"
          />
        </picture>
      </div>
      <div class="container-sale-ty">
        <div class="container-sale-ty-m">
          <h3 class="sale-logo-ty">MARQ® Commander (Gen 2) - Carbon Edition</h3>
          <p class="sale-text">Product tag: 706587</p>
          <div class="sale-price">
            <span class="sale-current-price">€1500</span>
            <span class="sale-old-price">€3000</span>
          </div>
          <p class="sale-text-fri">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <div class="sale-gryp">
            <span class="sale-button-f">Fused carbon fiber</span>
            <span class="sale-button-gr">Grade-5 Titanuim</span>
            <span class="sale-button-at">Athlete</span>
            <span class="sale-button-go">Golfer</span>
            <span class="sale-button-co">Commander</span>
            <span class="sale-button-ad">Adventurer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
