<section class="section-sale">
  <div class="container-sale">
    <h2 class="sale-logo">Sale</h2>
    <div class="sale-content">
      <ul class="sale-link">
        <li class="sale-list">
          <img
            class="sale-images"
            src="./images/actions.jpg"
            alt=""
            width="96px"
            height="100px"
          />
        </li>
        <li class="sale-list">
          <img
            class="sale-images"
            src="./images/actions1.jpg"
            alt=""
            width="96px"
            height="100px"
          />
        </li>
        <li class="sale-list">
          <img
            class="sale-images"
            src="./images/actions2.jpg"
            alt=""
            width="96px"
            height="100px"
          />
        </li>
        <li class="sale-list">
          <img
            class="sale-images"
            src="./images/actions3.jpg"
            alt=""
            width="96px"
            height="100px"
          />
        </li>
      </ul>
      <div class="sale-list-big">
        <source
        srcset="../img/decst_img/sale_main_desc.png 1x,
        ../img/decst_img/sale_main_desc@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="../img/tblet_img/sale_main_tblet.png 1x,
        ../img/tblet_img/sale_main_tblet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="../img/mob_img/sale_main_mob.png 1x,
          ../img/mob_img/sale_main_mob@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img
        src="../img/mob_img/sale_main_mob.png"
        class="sale-images-big"
          alt="Black watch"
          width="328px"
          height="398px"
      />
    </picture>
        
      </div>
    </div>
  </div>
  <div class="container-sale-ty">
    <div class="container-sale-ty-m">
      <h3 class="sale-logo-ty">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <p class="sale-text">Product tag: 706587</p>
      <div class="sale-price">
        <span class="sale-current-price">€1500</span>
        <span class="sale-old-price">€3000</span>
      </div>
      <p class="sale-text-fri">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <button type="" class="sale-button-f">Fused carbon fiber</button>
      <button type="" class="sale-button-gr">Grade-5 Titanuim</button>
      <button type="" class="sale-button-at">Athlete</button>
      <button type="" class="sale-button-go">Golfer</button>
      <button type="" class="sale-button-co">Commander</button>
      <button type="" class="sale-button-ad">Adventurer</button>
    </div>
  </div>
</section>
