.advertisement-section {
  margin-top: 60px;
  margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 312px;
    max-width: 367px;
    
}

.advertisement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  background-color: black;
  padding: 60px 28px;
  border-radius: 30px;
}

.advertisement-back-img {
  background-image: url(../img/mob_img/advert_mob_@1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advertisement-back-img {
    background-image: url(../img/mob_img/advert_mob_@2x.png);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.advertisement-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 279px;
  margin-bottom: 28px;
}

.advertisement-text-accent {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-btn {
  font-family: 'Gilroy', sans-serif;
  min-width: 160px;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 44px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  align-self: flex-start;
  transition: background-color, color 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
}

.advertisement-btn:hover,
.advertisement-btn:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}

@media (min-width: 768px) {
  .advertisement-section{
    max-width: 768px;
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .advertisement-container {
    width: 704px;
    padding: 80px 64px;
  }

  .advertisement-text {
    font-size: 48px;
    line-height: 0.91;
    max-width: 576px;
    margin-bottom: 32px;
  }

  .advertisement-back-img {
    background-image: url(../img/tblet_img/advert_tablet_@1x.png);
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .advertisement-back-img {
      background-image: url(../img/tblet_img/advert_tablet_@2x.png);
    }
  }
}

@media (min-width: 1280px) {

.advertisement-section{
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 100px;
}

.advertisement-container {
  margin: 0 auto;
    width: 1150px;
    padding: 83px 80px;
    flex-direction: row;
  }

  .advertisement-text {
    max-width: 690px;
    margin-bottom: 0;
  }

  .advertisement-btn {
    margin-left: auto;
  }

  .advertisement-back-img {
    background-image: url(../img/decst_img/advert_desk_@1x.png);
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .advertisement-back-img {
      background-image: url(../img/decst_img/advert_desk_@2x.png);
    }
  }
}
