footer {
    margin-right: auto;
    margin-left: auto;
    /* width: 320px; */
    width: 100%;
    margin-top: 60px;
    padding: 0 20px;
    text-align: center;
}




.footer-block {
    background-color: #0c0c0c;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 40px 28px 28px 28px;

    margin-bottom: 20px;
}



.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    text-align: left;
    margin-bottom: 20px;

}

.footer-logo-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    text-decoration: none;
}

.social-links {
    margin-bottom: 20px;

}

.social-links-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 0;
}

.social-links-item {
    display: inline-block;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    width: 34px;
    height: 34px;
}

.social-links-item-link {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.footer-phone {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    width: 100%;
    max-width: 152px;
    margin-bottom: 40px;
    padding: 14px 20px;
    box-sizing: border-box;
}


.footer-phone-link {
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    /* padding: 14px 20px; */
}

.footer-slogan {
    margin-bottom: 92px;
}

.footer-slogan-par {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin: 0;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
}



.footer-links-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* width: 147px; */
    gap: 8px 16px;
}

.footer-list-item {
    margin-bottom: 5px;
}

.footer-list-item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: #fbfbfb;
    text-decoration: none;
}


.footer-address {
    width: 83px;
    text-align: left;
}

.footer-address-par {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #fbfbfb;
    margin: 0;
}

.footer-bottom {
    margin: 0;
    text-align: left;
}

.footer-bottom-par {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}


.footer-bottom-link-wrap {
    display: flex;
    gap: 20px;
}



.footer-bottom-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: right;
    color: rgba(251, 251, 251, 0.5);
    text-decoration: none;
}

.footer-social-icon {
    fill: #a9a9a9;
}


.footer-social-icon:hover,
.footer-social-icon:focus {
    fill: #fbfbfb;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (max-width:374px) {
    .footer-links-list {
        max-width: 147px;
    }
}

@media screen and (min-width:375px) {
    footer {
        width: 375px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }

    .footer-links-list {
        width: 147px;
    }
}


@media screen and (min-width:768px) {

    footer {
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 32px;
        width: 768px;
    }

    .footer-block {
        text-align: center;
        position: relative;
        border-radius: 30px;
        padding: 40px 40px 28px 40px;
        max-width: 768px;
        margin-bottom: 32px;
    }


    .footer-logo-link {
        font-size: 20px
    }

    .footer-phone {
        position: absolute;
        right: 40px;
        top: 40px;
        max-width: 160px;
        margin-bottom: 0;
        padding: 15px;
    }

    .footer-phone-link {
        font-size: 14px;
        line-height: 129%;
    }

    .social-links {
        margin-bottom: 86px;

    }

    .social-links-item {
        width: 36px;
        height: 36px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
    }

    .footer-slogan {
        width: 100%;
        margin-bottom: 100px;
        text-align: center;
        padding: 0 50px;
    }

    .footer-slogan-par {
        font-size: 28px;
        line-height: 114%;
        letter-spacing: -0.02em;
    }


    .footer-middle {
        align-items: baseline;
        gap: 0;
        padding-bottom: 28px;
        margin-bottom: 28px;
    }

    .footer-links-list {
        align-items: baseline;
        flex-wrap: nowrap;
        width: 100%;
        gap: 0 19px;
    }

    .footer-list-item {
        margin: 0;
    }

    .footer-list-item-link {
        font-size: 14px;
        line-height: 129%;
    }


    .footer-address {
        width: 162px;
        text-align: left;
    }

    .footer-address-par {
        font-size: 14px;
        line-height: 129%;
    }

    .footer-bottom {
        display: flex;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
    }

    .footer-bottom-par {
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        margin-bottom: 0;
    }


    .footer-bottom-link {
        font-size: 14px;
        line-height: 129%;
    }

}

@media screen and (min-width:1280px) {

    footer {
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 1280px;
    }


    .footer-block {
        max-width: 1280px;
        margin-bottom: 32px;
    }


    .social-links {
        margin-bottom: 142px;
    }


    .footer-slogan {
        order: -1;
        position: absolute;
        top: 40px;
        right: 347px;
        width: 523px;
        padding: 0;
        margin: 0;
    }


    .footer-links-list {
        gap: 0 40px;
    }


}