.header-up {
  padding: 26px 0px 0px 0px;
  width: 1280px;
  height: 88px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-all {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 112px;
  height: 24px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-decoration: none;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-menu-item {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
  display: inline;
}

.header-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  padding: 10px 20px;
  position: relative;
  transition: color 0.3s;
}

.header-menu a:hover {
  color: #4d5ae5;
}

.header-menu a.active::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}
