
.container-hero {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  /* margin-bottom: 60px; */
  max-height: 732px;
}

.hero .hero-flex{
  max-width: 375px;
  margin: 0 auto;
}

.hero .hero-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  min-height: 114px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.hero .hero-title-span {
  color: #3350e9;
}

.hero .hero-text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
  padding: 0;
  
}

.hero .hero-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.hero-list .hero-box-list {
  display: flex;
  flex-direction: row;
  max-width: 108px;
}

.hero-box-list .box {
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 2px solid #fbfbfb;
  transition: transform 250ms ease-in-out;
}

.hero-box-list .box:nth-child(1) {
  border: 2px solid #fbfbfb;

}

.hero-box-list .box:nth-child(2) {
  left: -12px;
  border: 2px solid #fbfbfb;
  z-index: 1;
}

.hero-box-list .box:nth-child(3) {
  right: 25px;
  border: 2px solid #fbfbfb;
  z-index: 2;
}

.hero-box-list .box:hover {
  transform: scale(1.2);
}

.hero-list .hero-box-list-link{
  padding-top: 26px;
}

.hero-list .hero-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  width: 72px;
  margin-left: 155px;
  transition: color 250ms ease-in-out;
}

.hero-list .hero-link:hover,
.hero-list .hero-link:focus {
  color: #3350e9;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container-hero {
    margin: 0 auto;
    padding: 0 20px;
  }

  .hero-list .hero-link {
    margin-left: 95px;
  }
}

@media screen and (min-width: 768px){
  .container-hero {
      max-width: 764px;
      margin: 0 auto;
      padding: 0 32px;
    }

  .hero {
      padding-top: 80px;
      max-height: 900px;
    }
  
    .hero .hero-title {
      font-family: "Gilroy", sans-serif;
      font-weight: 600;
      font-size: 70px;
      line-height: 0.86;
      letter-spacing: -0.02em;
      color: #0c0c0c;
      width: 557px;
      height: 180px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .hero .hero-text {
      font-family: "Gilroy", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.02em;
      color: rgba(12, 12, 12, 0.7);
      width: 480px;
      height: 60px;
      margin-bottom: 0;
    }
    .hero .hero-div-fl{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .hero .hero-flex{
      max-width: 768px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      gap: 11px;
      margin-bottom: 40px;
      }

      .hero-list .hero-box-list {
        display: flex;
        flex-direction: row;
        max-width: 136px;
      }

    .hero .hero-list {
      width: 136px;
      display: flex;
      flex-direction: column;
      gap: 180px;
      margin-bottom: 0;
    }
    .hero-box-list .box {
      position: relative;
      height: 56px;
      width: 56px;
    }

    .hero-box-list .box:nth-child(2) {
      left: -15px;
}

      .hero-box-list .box:nth-child(3) {
        right: 30px;
}

    .hero-list .hero-link {
      font-family: "Gilroy", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      letter-spacing: -0.02em;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #0c0c0c;
      width: 72px;
      margin-left: 0;
      transition: color 250ms ease-in-out;
      padding-left: 30px;
    }
    .hero-list .hero-box-list-link {
      padding-top: 0px;
      }
    /* .hero .hero-img{
      width: 704px;
    } */
}

@media screen and (min-width: 1280px){
    .container-hero {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 65px;
      }

    .hero {
      max-height: 889px;
    }

    .hero .hero-title {
      font-size: 72px;
      line-height: 0.88;
      width: 597px;
      height: 189px;
    }

    .hero .hero-flex {
      padding: 0;
      gap: 407px;
      max-width: 1280px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
}