.section-reviews {
    margin-top: 60px;
}

.section-reviews-container {

    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.title-reviews {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.reviews-item {
    border-radius: 30px;
    padding: 32px 36px;
    /* max-width: 320px; */
    margin-top: 24px;
    background-color: #f3f3f3;

}

.Victoria {
    display: none;
}

.Anastasia {
    display: none;
}

.img-reviews {
    border-radius: 100%;
    display: block;
    margin: auto;
    stroke-width: 2px;
    stroke: #fbfbfb;
}

.name-reviews {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    padding-top: 24px;
    padding-bottom: 8px;
}

.text-reviews {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

@media screen and (min-width:375px) {
    .section-reviews-container {
        max-width: 375px;
    }

    .reviews-item {
        max-width: 335px;
    }
}

/* =========Media Tablet========== */
@media screen and (min-width:768px) {
    .section-reviews {
        margin-top: 80px
    }

    .section-reviews-container {
        max-width: 768px;
        padding: 0 32px;
        height: 356px;
        margin-right: auto;
        margin-left: auto;
        ;
    }

    .title-reviews {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .box-reviws {
        max-width: 768px;
        height: 272px;
    }

    .reviews-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .reviews-item {
        max-width: 344px;
        height: 272px;
        background-color: #f3f3f3;
        margin-top: 40px;
    }

    .Victoria {
        display: block;

    }

    .name-reviews {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.1;
    }

    .text-reviews {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(12, 12, 12, 0.4);
    }

}

/* =========Media decst========== */
@media screen and (min-width:1280px) {
    .section-reviews {
        margin-top: 100px;
    }

    .section-reviews-container {
        max-width: 1280px;
        height: 356px;
        padding: 0px 65px;
        margin-right: auto;
        margin-left: auto;

    }

    .title-reviews {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        padding-bottom: 40px;

    }

    .reviews-list {
        gap: 20px;
    }

    .box-reviws {
        max-width: 1150px;
        height: 272px;
        padding-top: 40px;
    }

    .reviews-item {
        max-width: 370px;
        height: 272px;
        background-color: #f3f3f3;
        border-radius: 30px;
        padding: 32px 36px;
        margin-top: 0px;

    }

    .Anastasia {
        display: block;
    }
}